<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">




    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application

        android:networkSecurityConfig="@xml/networkconfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".controller.API"
        android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="499064640741937"/>
        <activity android:name=".loginsignupactivity.HomeActivity"></activity>
        <activity android:name=".loginsignupactivity.FbActivity"></activity>
        <activity android:name=".loginsignupactivity.LoginActivity">




        </activity>
        <activity android:name=".loginsignupactivity.SignupActivity"></activity>
        <activity android:name=".loginsignupactivity.MainActivity"></activity>
    </application>

</manifest>